<% content_for :sub_nav do %>
    <%= render :partial => 'shared/movie_sub_nav', :locals => {:current =>  'new-movie'}%>
<% end %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <%= form_for @movie, :html => {:id => 'new_movie', :class => "form-horizontal"} do |f| %>
          <%= render :partial => "form", :object => f %>

          <div class="form-actions">
            <%= f.button "Create", :class => 'btn btn-primary' %>
            <%= f.button 'Cancel', :class => 'btn', :type => 'reset' %>
          </div>
      <% end %>

    </div>
  </div>
</div>
<% content_for :page_script do %>
    <script type="text/javascript">
        $('.datepicker').datepicker();
    </script>

<% end %>