<div id="content-header">
  <h1>电影评分</h1>
</div>
<div class="container-fluid">
  <div class="span12">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>片名</th>
        <th>出品国家</th>
        <th>片种</th>
        <th>出品单位</th>
        <th>出品年份</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @movie.name%></td>
        <td><%= @movie.country%></td>
        <td><%= @movie.category ? @movie.category.name : '' %></td>
        <td></td>
        <td><%= @movie.production_date %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <%= form_for :score, :url => {:action => 'create'},:html => {:id => 'new_score', :class => "form-horizontal"} do |f| %>
      <%= render :partial => "form", :object => f %>
      <%
        update = @user_movie_scores == nil || @user_movie_scores.size == 0 ? false : true
      %>
      <%= hidden_field_tag(:movie_id, @movie.id) %>
      <%= hidden_field_tag(:need_update, update) %>
      <div class="form-actions">
        <% if update %>
            <%= f.button "Update", :class => 'btn btn-primary' %>
        <% else %>
            <%= f.button "Create", :class => 'btn btn-primary' %>
        <% end %>
        <%= f.button 'Reset', :class => 'btn', :type => 'reset' %>
      </div>
  <% end %>
</div>