<div class="sidebar" id="sidebar">
<script type="text/javascript">
    try {
        ace.settings.check('sidebar', 'fixed')
    } catch (e) {
    }
</script>

<div class="sidebar-shortcuts" id="sidebar-shortcuts">
  <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
    <button class="btn btn-success">
      <i class="icon-signal"></i>
    </button>

    <button class="btn btn-info">
      <i class="icon-pencil"></i>
    </button>

    <button class="btn btn-warning">
      <i class="icon-group"></i>
    </button>

    <button class="btn btn-danger">
      <i class="icon-cogs"></i>
    </button>
  </div>

  <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
    <span class="btn btn-success"></span>

    <span class="btn btn-info"></span>

    <span class="btn btn-warning"></span>

    <span class="btn btn-danger"></span>
  </div>
</div>
<!-- #sidebar-shortcuts -->

<ul class="nav nav-list">
<li>
  <a href="index.html">
    <i class="icon-dashboard"></i>
    <span class="menu-text"> 仪表盘 </span>
  </a>
</li>

<li <%= raw 'class="active open"' if controller_name.start_with? 'program_plan' %>>
  <a href="#" class="dropdown-toggle">
    <i class="icon-text-width"></i>
    <span class="menu-text"> 节目编排 </span>

    <b class="arrow icon-angle-down"></b>
  </a>
  <ul class="submenu">
    <% if current_user.try(:role?, :admin) %>
        <li <%= raw 'class="active"' if controller_name == 'program_plan_templates' %>>
          <%= link_to program_plan_templates_path do %>
              <i class="icon-double-angle-right"></i>
              编排模板<span class="label label-warning arrowed arrowed-in-right">admin</span>
          <% end %>
        </li>
    <% end %>

  </ul>
</li>

<li <%= raw 'class="active open"' if  %w(broadcasts, broadcast_uploads).include? controller_name %>>
  <a href="#" class="dropdown-toggle">
    <i class="icon-desktop"></i>
    <span class="menu-text"> 播出记录 </span>

    <b class="arrow icon-angle-down"></b>
  </a>

  <ul class="submenu">
    <li <%= raw 'class="active"' if controller_name == 'broadcasts' && action_name == 'draft' %> >
      <%= link_to broadcasts_path do -%>
          <i class="icon-double-angle-right"></i>
          <span class="menu-text"> 计划播出 </span>
      <% end %>
    </li>
    <li <%= raw 'class="active"' if controller_name == 'broadcasts' && action_name == 'index' %> >
      <%= link_to broadcasts_path do -%>
          <i class="icon-double-angle-right"></i>
          <span class="menu-text"> 历史记录 </span>
      <% end %>
    </li>

    <% if current_user.try(:role?, :admin) %>
        <li <%= raw 'class="active"' if controller_name == 'broadcast_uploads' && action_name == 'index' %>>
          <%= link_to broadcast_uploads_path do %>
              <i class="icon-double-angle-right"></i>
              导入<span class="label label-warning arrowed arrowed-in-right">admin</span>
          <% end %>
        </li>
    <% end %>
  </ul>

</li>

<li  <%= raw 'class="active"' if controller_name == 'movies' %>>
  <%= link_to movies_path do %>
      <i class="icon-list"></i>
      <span class="menu-text"> 影片 </span>
  <% end %>
</li>

<% if current_user.try(:role?, :admin) %>
    <li  <%= raw 'class="active"' if controller_name == 'channels' %>>
      <%= link_to channels_path do %>
          <i class="icon-edit"></i>
          <span class="menu-text"> 频道管理 </span>
      <% end %>
    </li>
<% end %>

<li>
  <a href="#" class="dropdown-toggle">
    <i class="icon-edit"></i>
    <span class="menu-text"> Forms </span>

    <b class="arrow icon-angle-down"></b>
  </a>

  <ul class="submenu">
    <li>
      <a href="form-elements.html">
        <i class="icon-double-angle-right"></i>
        Form Elements
      </a>
    </li>

    <li>
      <a href="form-wizard.html">
        <i class="icon-double-angle-right"></i>
        Wizard &amp; Validation
      </a>
    </li>

    <li>
      <a href="wysiwyg.html">
        <i class="icon-double-angle-right"></i>
        Wysiwyg &amp; Markdown
      </a>
    </li>

    <li>
      <a href="dropzone.html">
        <i class="icon-double-angle-right"></i>
        Dropzone File Upload
      </a>
    </li>
  </ul>
</li>

<li>
  <a href="widgets.html">
    <i class="icon-list-alt"></i>
    <span class="menu-text"> Widgets </span>
  </a>
</li>

<li>
  <a href="calendar.html">
    <i class="icon-calendar"></i>

								<span class="menu-text">
									Calendar
									<span class="badge badge-transparent tooltip-error" title="2&nbsp;Important&nbsp;Events">
										<i class="icon-warning-sign red bigger-130"></i>
									</span>
								</span>
  </a>
</li>

<li>
  <a href="gallery.html">
    <i class="icon-picture"></i>
    <span class="menu-text"> Gallery </span>
  </a>
</li>

<li>
  <a href="#" class="dropdown-toggle">
    <i class="icon-tag"></i>
    <span class="menu-text"> More Pages </span>

    <b class="arrow icon-angle-down"></b>
  </a>

  <ul class="submenu">
    <li>
      <a href="profile.html">
        <i class="icon-double-angle-right"></i>
        User Profile
      </a>
    </li>

    <li>
      <a href="inbox.html">
        <i class="icon-double-angle-right"></i>
        Inbox
      </a>
    </li>

    <li>
      <a href="pricing.html">
        <i class="icon-double-angle-right"></i>
        Pricing Tables
      </a>
    </li>

    <li>
      <a href="invoice.html">
        <i class="icon-double-angle-right"></i>
        Invoice
      </a>
    </li>

    <li>
      <a href="timeline.html">
        <i class="icon-double-angle-right"></i>
        Timeline
      </a>
    </li>

    <li>
      <a href="login.html">
        <i class="icon-double-angle-right"></i>
        Login &amp; Register
      </a>
    </li>
  </ul>
</li>

<li>
  <a href="#" class="dropdown-toggle">
    <i class="icon-file-alt"></i>

								<span class="menu-text">
									Other Pages
									<span class="badge badge-primary ">5</span>
								</span>

    <b class="arrow icon-angle-down"></b>
  </a>

  <ul class="submenu">
    <li>
      <a href="faq.html">
        <i class="icon-double-angle-right"></i>
        FAQ
      </a>
    </li>

    <li>
      <a href="error-404.html">
        <i class="icon-double-angle-right"></i>
        Error 404
      </a>
    </li>

    <li>
      <a href="error-500.html">
        <i class="icon-double-angle-right"></i>
        Error 500
      </a>
    </li>

    <li>
      <a href="grid.html">
        <i class="icon-double-angle-right"></i>
        Grid
      </a>
    </li>

    <li>
      <a href="blank.html">
        <i class="icon-double-angle-right"></i>
        Blank Page
      </a>
    </li>
  </ul>
</li>
</ul>
<!-- /.nav-list -->

<div class="sidebar-collapse" id="sidebar-collapse">
  <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
</div>

<script type="text/javascript">
    try {
        ace.settings.check('sidebar', 'collapsed')
    } catch (e) {
    }
</script>
</div>